/* imports */
@import "https://ellexidecodes.github.io/Profile-Codes/free/all-google-fonts.css";


/* fontface */
@font-face {
   font-family: '8-Bit Wonder'; 
   src: url('https://dl.dropbox.com/s/mn8vff42fv9uw3y/8-BIT%20WONDER.TTF') format('truetype');
}

/* ================== LET'S START ==================== */
/* meta stuff */
::-webkit-scrollbar { display: none; }

* {
 user-select: none;
 -webkit-user-drag: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  background: dodgerblue;
  font-family: '8-bit Wonder';
  text-align: center;
  font-size: 7vw;
}

body:hover .pokeball.top {
  transform: translateY(-140%);
}

body:hover .pokeball.bottom {
  transform: translateY(140%);
}

.pokeball {
  position: absolute;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  left: 0;
  transition: all 1.3s ease-in-out;
}

.pokeball.top {
  background: #d31d1d;
  top: 0;
  overflow: visible;
}

.pokeball.top::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 15%;
  background: black;
  transform: translateY(50%);
}

.pokeball.top::before {
  content: '';
  position: absolute;
  width: 12vw;
  height: 12vw;
  border: 2.5vw solid black;
  background: white;
  border-radius: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.pokeball.bottom {
  background: white;
  bottom: 0;
}